* {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: indigo;
  line-height: 1.7;
}

.logo {
  width: 300px;
  height: auto;
  margin: 10px;
  text-align: center;
}

#logo-container {
  text-align: center;
  margin-top: 100px;
}